<h1>Testing User Table</h1>
<ol>
{{#each users}}
    <li>
        <b>ID: </b> <span>{{id}}</span><br>
        <b>Username: </b> <span>{{username}}</span><br>
        <b>Password: </b> <span>{{email}}</span><br>
    </li>
{{/each}}
</ol>

<!-- TODO: Pull out joinedPosts -->
<ol>
{{#each joinedPosts}}

    <li>
        A post...
        Its user..
        All its comments (another ul, li)
    </li>
{{/each}}
</ol>